/* ------ ONEVIDEOGAME ------- */
.OneVideogame{
	position: relative;
	display: flex;
	justify-content: center;
	margin: 20px auto;
	z-index: 1000;
}

.OneVideogame a{
	text-decoration: none;
}

.OneVideogame img{
	height: 220px;
	width: 320px;
	z-index: 10000;
	border-radius: 5px;
}

.Video-Image{
	background-color: rgba(18, 17, 17, 0.9);
	padding: 10px;
	border-radius: 5px;
	transition: 1s all ease;
}

.Video-Details{
	background-color: rgba(18, 17, 17, 0.7);
	border-radius: 5px;

	position: absolute;
	padding: 12px 17px;
	width: 90%;
	height: 90%;

	opacity: 0;
	transition: .5s all ease;
}

.OneVideogame:hover .Video-Details{
	opacity: 1;
}

.Video-Title{
	position: relative;
	padding: 5px 0;
	text-align: left;
	top: 0;
}

.Video-Title h1{
	font-size: 2rem;
	font-weight: bold;
	color: #c3c4c7;
}

.Video-Genres,
.Video-Platforms{
	position: absolute;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
	width: 90%;
}
.Video-Genres{
	bottom: 60px;
}
.Video-Platforms{
	bottom: 15px;
}
.Video-Genres::-webkit-scrollbar,
.Video-Platforms::-webkit-scrollbar{
  height: 8px;
  border-radius: 20px;
}
 
.Video-Genres::-webkit-scrollbar-track,
.Video-Platforms::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
 
.Video-Genres::-webkit-scrollbar-thumb,
.Video-Platforms::-webkit-scrollbar-thumb{
  background-color: #262626;
  border: none;
  border-radius: 20px;
  outline: none;
  height: 8px;
}

.Video-Genres .Genre,
.Video-Platforms .Platform{
	background-color: rgba(10, 10, 10);
	border-radius: 6px;
	padding: 4px 8px;
	margin: 3px;
	width: auto;

	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #c3c4c7;
}
.Video-Platforms .Platform{
	min-width: 100px;
}

.Video-Rating{
	position: absolute;
	bottom: 110px;
	width: 45%;

	text-align: left;
	font-size: 18px;
	font-weight: bold;
	color: #c3c4c7;

	display: flex;
	justify-content: flex-start;
}
.Video-Rating span{
	margin-left: 5px;
}
.Video-Rating div{
	display: flex;
	justify-content: flex-start;
}
.Video-Rating svg{
	color: #c3c4c7;
	height: 24px;
	width: 24px;
}