/*
negro = #000000, #050505
azul = #062F4F
violeta = #813722
rojo = #B82601, #cc1f1f, #e60909
blancos = #dedede
*/
html{
	font-size: 10px;
}
body{
	background: url("./Images/5-58559_breath-of-the-wild-2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}

body::-webkit-scrollbar {
  width: 15px;
  background: #0f0f0f;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #242424;
  border: none;
  border-radius: 2px;
  outline: none;
  height: 5px;
}

textarea::-webkit-scrollbar,
select::-webkit-scrollbar{
  width: 10px;
  border-radius: 5px;
}
 
textarea::-webkit-scrollbar-track,
select::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
textarea::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background-color: #242424;
  border: none;
  border-radius: 5px;
  outline: none;
  height: 15px;
}


/* ------ HOME ------- */

