/*
negro = #000000, #050505
azul = #062F4F
violeta = #813722
rojo = #B82601, #cc1f1f, #e60909
blancos = #dedede
*/
html{
	font-size: 10px;
}
body{
	background: url("./Images/5-58559_breath-of-the-wild-2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

}

body::-webkit-scrollbar {
  width: 15px;
  background: #0f0f0f;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: transparent;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #242424;
  border: none;
  border-radius: 2px;
  outline: none;
  height: 5px;
}

textarea::-webkit-scrollbar,
select::-webkit-scrollbar{
  width: 10px;
  border-radius: 5px;
}
 
textarea::-webkit-scrollbar-track,
select::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
textarea::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background-color: #242424;
  border: none;
  border-radius: 5px;
  outline: none;
  height: 15px;
}


/* ------ NAVBAR ------- */
.Navbar{
	display: flex;
	justify-content: space-between;

	width: 100%;
	background-color: rgba(18, 17, 17, 0.9);
	padding: 30px 0;
	z-index: 100000;

	box-shadow: 0 10px 3px 5px rgba(8, 7, 7, 0.7);
}

.Options{
	display: block;
	margin: 0 40px;
}

.Options a{
	color: #c3c4c7;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;

	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	transition: .8s all ease;
}
.Options a:hover{
	cursor: pointer;
	background-color: #c3c4c7;
	color: #121212;
}

.Search{
	margin: 0 80px;
}

.Search input{
	margin: 0 20px;
	border-radius: 5px;
	padding: 5px;
	color: #bdbdbd;
	width: 250px;
	border: 3px solid #171717;
	background-color: rgba(43, 43, 43,0.9);
	outline: none;
}

.Search button{
	color: #c3c4c7;
	font-size: 1.8rem;
	font-weight: bold;

	padding: 8px 15px;
	background: transparent;
	border-radius: 10px;
	border: none;

	transition: .8s all ease;
}

.Search button:hover{
	cursor: pointer;
	background-color: #c3c4c7;
	color: #121212;
}

/* ------ HOME ------- */

/* ------ FILTERS ------- */
.Filter{
	position: fixed;
	bottom: -40px;
	z-index: 100000;
	padding: 20px 0;
	margin: 50px 0;
}

.Filter select{
	width: 300px;
	padding: 10px;
	margin: 0;
	background-color: #0a0909;
	border: 3px solid #19191c;
	border-radius: 5px;
	outline: none;

	font-size: 1.8rem;
	font-weight: bold;
	color: #c3c4c7;

	box-shadow: 0 0 5px 2px #0a0909;
	transition: .5s all ease;
}

.Filter select:hover{
	cursor: pointer;
	background-color: #c3c4c7;
	color: #121212;
}

.Group2{
	text-align: right;
	right: 0;
}

.OneFilter{
	margin: 10px 20px;
	margin-bottom: 0;
}

.Filter select[name="platforms"]{
	margin-left: 50px;
}

.Filter select[name="order"]{
	margin-right: 50px;
}


/* ------ VIDEOGAMES ------- */

.Videogames{
	height: 100%;
	background-color: rgba(26, 25, 25,0.3);
}

.VideogamesList{
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin-top: 15px;
	padding: 20px 40px;
}

.OneVideogame{
	position: relative;
	display: flex;
	justify-content: center;
	margin: 20px auto;
	z-index: 10000;
}

.OneVideogame a{
	text-decoration: none;
}

.OneVideogame img{
	height: 220px;
	width: 320px;
	z-index: 10000;
	border-radius: 5px;
}

.Video-Image{
	background-color: rgba(18, 17, 17, 0.9);
	padding: 10px;
	border-radius: 5px;
	transition: 1s all ease;
}

.Video-Details{
	background-color: rgba(18, 17, 17, 0.7);
	border-radius: 5px;

	position: absolute;
	padding: 12px 17px;
	width: 90%;
	height: 90%;

	opacity: 0;
	transition: .5s all ease;
}

.OneVideogame:hover .Video-Details{
	opacity: 1;
}

.Video-Title{
	padding: 5px 0;
	text-align: left;
	top: 0;
}

.Video-Title h1{
	font-size: 2rem;
	font-weight: bold;
	color: #c3c4c7;
}

.Video-Genres,
.Video-Platforms{
	position: relative;
	bottom: 0;
	margin-top: 10px;

	text-align: left;
	display: flex;
	justify-content: flex-start;
	overflow-x: scroll;
}
.Video-Genres{
	margin-top: 60px;
}

.Video-Genres::-webkit-scrollbar,
.Video-Platforms::-webkit-scrollbar{
  height: 8px;
  border-radius: 20px;
}
 
.Video-Genres::-webkit-scrollbar-track,
.Video-Platforms::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
 
.Video-Genres::-webkit-scrollbar-thumb,
.Video-Platforms::-webkit-scrollbar-thumb{
  background-color: #262626;
  border: none;
  border-radius: 20px;
  outline: none;
  height: 8px;
}

.Video-Genres .Genre,
.Video-Platforms .Platform{
	background-color: rgba(10, 10, 10);
	border-radius: 6px;
	padding: 4px 8px;
	margin: 3px;
	width: auto;

	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #c3c4c7;
}
.Video-Platforms .Platform{
	min-width: 80px;
}

/* ------ VIDEOGAME DETAIL ------- */

.VideogameDetail{
	background-color: rgba(26, 25, 25,0.4);
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-areas:
	"a b"
	"c c";
	align-items: start;
	margin-top: 15px;
	padding: 40px 20px;
}

.Image{
	grid-area: a;

	background-color: rgba(18, 17, 17, 0.9);
	padding: 10px;
	border-radius: 5px;
	margin: auto;
}

.DetailInformation{
	grid-area: b;

	background-color: rgba(18, 17, 17, 0.9);
	padding: 0px 50px;
}

.DetailInformation .Video-Genres,
.DetailInformation .Video-Platforms{
	background: transparent;
	padding: 5px 0;
	margin: 0;
	text-align: left;
	border-radius: 0 0 5px 5px;
	overflow-x: hidden;
	display: block;
	position: relative;
	width: 100%;
}

.DetailInformation .Video-Genres .Genre,
.DetailInformation .Video-Platforms .Platform{
	font-size: 1.4rem;
}

.DetailInformation .Title{
	font-size: 2.5rem;
	color: #c3c4c7;
}

.DetailInformation h2{
	font-size: 2.4rem;
	color: #a8a8a8;
}

.DetailInformation .Rating{
	font-size: 2.5rem;
	font-weight: bold;
	color: #c3c4c7;
}

.DetailInformation .ReleaseDate{
	width: fit-content;
	font-size: 2rem;
	font-weight: bold;
	color: #c3c4c7;
}

.Description-Conteiner{
	grid-area: c;

	background-color: rgba(18, 17, 17, 0.9);
	padding: 30px 40px;
	margin: 50px 0;
}

.Description-Conteiner h2{
	font-size: 2.6rem;
	font-weight: bold;
	color: #c3c4c7;
}

.Description-Conteiner .Description{
	font-size: 1.8rem;
	font-weight: bold;
	color: #a8a8a8;
}

/* ------ ADD VIDEOGAME ------- */

.CreateVideogame{
	background-color: rgba(26, 25, 25,0.4);
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: start;

	margin-top: 15px;
	padding: 40px 20px;
}

.CreationForm{
	background-color: rgba(18, 17, 17, 0.9);
	padding: 10px;
	border-radius: 5px;
	margin: auto;
}

.CreationForm h1{
	font-size: 3rem;
	color: #c3c4c7;
	text-align: center;
	border-bottom: 2px solid #c3c4c7;
	padding-bottom: 10px;
}

.CreationForm h3{
	font-size: 1.8rem;
	font-weight: bold;
	color: #c3c4c7;
}

.CreationForm h4{ /* mensaje de error */
	position: absolute;
	bottom: -15px;

	font-size: 1.5rem;
	font-weight: bold;
	color: #ad0303;
}

.CreationForm .Error{ /* resaltar inputs con errores */
	border-color: #ad0303;
}

.CreationForm form{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: start;
	grid-template-areas:
	"a b"
	"c c"
	"d d";
}

.CreationForm form .Column1{
	grid-area: a;
}
.CreationForm form .Column2{
	grid-area: b;
}
.CreationForm form .DescriptionField{
	grid-area: c;
}
.CreationForm form .FormFooter{
	grid-area: d;
}

.CreationForm .FormField{
	position: relative;
	margin: 5px 10px;
	padding: 5px 15px;
}

.CreationForm input,
.CreationForm select,
.CreationForm textarea{
	width: 100%;
	padding: 5px;
	background-color: #19191c;
	border: 2px solid #2a2a2e;
	border-radius: 5px;
	outline: none;

	font-size: 1.5rem;
	font-weight: bold;
	color: #c3c4c7;
}

.CreationForm select{
	width: 80%;
}
.CreationForm .SelectField{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.CreationForm .SelectField button{
	background-color: #19191c;
	border-radius: 10px;
	font-size: 2.5rem;
	border: 1px solid #2a2a2e;
	font-weight: bold;
	color: #c3c4c7;

	transition: .5s all ease;
}

.CreationForm .SelectField button:hover{
	cursor: pointer;
	background-color: #c3c4c7;
	color: #121212;
}


.CreationForm textarea{
	resize: none;
	height: 100px;
	padding: 10px;
}

.CreationForm .FormFooter{
	text-align: center;
	margin-bottom: 10px;
}

.CreationForm .FormFooter button{
	font-size: 2.5rem;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
	border: 3px solid #2a2a2e;
	background-color: #19191c;
	color: #b8b8b8;
	transition: .5s all ease;
}

.CreationForm .FormFooter button:hover{
	border: 3px solid #2a2a2e;
	background-color: #c3c4c7;
	color: #121212;
	cursor: pointer;
	box-shadow: 0px 0px 5px 2px rgba(10, 10, 10, 0.4) inset;
}

.ViewSelected{
	background-color: rgba(18, 17, 17, 0.9);
	padding: 10px;
	border-radius: 5px;
	height: 300px;


	display: grid;
	grid-template-columns: repeat(2, 50%);
	align-items: start;
}

.ViewSelected h4{
	font-size: 2rem;
	font-weight: bold;
	color: #c3c4c7;

	text-align: center;
	border-bottom: 2px solid #c3c4c7;
	padding-bottom: 10px;
}

.ViewSelected .Empty{
	border-bottom: 5px dotted #c3c4c7;
}

.ViewSelected h5{
	font-size: 1.8rem;
	font-weight: bold;
	color: #c3c4c7;
	padding: 15px 15px;
	margin: 0;

	display: flex;
	justify-content: space-between;
	transition: .5s all ease;
}

.ViewSelected h5:hover{
	box-shadow: 0 0 10px 2px rgba(20, 20, 20, 0.8) inset;
	cursor: pointer;
}

.ViewSelected h5 span{
	padding: 2px 5px;
	border: 2px solid #c3c4c7;
	border-radius: 5px;
	color: #c3c4c7;
	transition: .2s all ease;
}

.ViewSelected h5 span:hover{
	padding: 2px 5px;
	border: 2px solid #b00505;
	color: #141414;
	background-color: #b00505;
}

.ViewSelected .SelectList{
	background-color: #19191c;
	padding: 0 20px;
	height: 100%;
	margin: 0 10px;
	border-radius: 10px;
	overflow: hidden;
}

.ViewSelected .Collection{
	overflow-y: scroll;
	height: 70%;
}

.Collection::-webkit-scrollbar{
  width: 10px;
  border-radius: 5px;
}
 
.Collection::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.Collection::-webkit-scrollbar-thumb{
  background-color: #242424;
  border: none;
  border-radius: 5px;
  outline: none;
  height: 15px;
}
